.git
.gitignore
.vscode
*.pyc
__pycache__/
client/node_modules
client/dist
client/.vite
client/tsconfig.tsbuildinfo
server/.pytest_cache
server/.mypy_cache
server/.coverage
server/.hypothesis
server/.benchmarks
server/.DS_Store
server/.ruff_cache
server/.vent.monstr
*.log
.env
